.logo {
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;

    color: $accent-color;
}

.logo__main-color {
    color: $title-text-color;
}

.logo__secondary-color {
    color: $primary-white-color;
}