/* Modal */

.backdrop {
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms $timing-function;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transition: transform 250ms $timing-function;
    transform: translate(-50%, -50%) scale(0.5);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    min-height: 581px;

    background-color: $primary-white-color;

    transition: transform 250ms $timing-function;
    transform: translate(-50%, -50%) scale(1);
}

.modal__close-button {
    position: absolute;

    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;

    border-radius: 50%;
    background-color: $primary-white-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: fill 250ms $timing-function;

    cursor: pointer;


&:hover {
    fill: $accent-color;
}
}

.modal__close-icon {
    display: flex;
    width: 14px;
    height: 14px;
}

/* Modal form */

.form {
    width: 528px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
}

.form__title {
    display: block;
    margin-bottom: 12px;

    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: $title-text-color;
}

.form__field {
    position: relative;
    display: flex;
    flex-direction: column;

}

.form__field+.form__field {
    margin-top: 10px;
}

.form__label {
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: $primary-text-color;
}


.form__input {
    padding: 0 42px;
    display: inline-block;
    height: 40px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color 250ms $timing-function;


&:hover,
&:focus {
    outline: none;
    border-color: $accent-color;
}
&:hover~.form__icon,
&:focus~.form__icon {
    fill: $accent-color
}
}

.form__icon {
    position: absolute;
    display: flex;
    top: 50%;
    left: 12px;

    transition: fill 250ms $timing-function;


&:hover,
&:focus {
    fill: $accent-color
}
}



.form__field--text {
    margin-bottom: 20px;
}

.form__textarea {
    resize: none;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    height: 120px;

    transition: border-color 250ms $timing-function;


&:hover,
&:focus {
    outline: none;
    border-color: $accent-color;
}

&::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
}


.checkbox {
    margin-bottom: 30px;
}

.checkbox__form:checked+.checkbox__icon {
    background-image: url(../images/icon-check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: $accent-color;
    background-origin: border-box;
    border-color: $accent-color;

}

.checkbox__icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid $title-text-color;
    border-radius: 2px;
    margin-right: 7px;
}


.checkbox__label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.71;
}

.terms__link {
    color: rgba(33, 150, 243, 1);
}


.submit__button {
    display: flex;
    min-width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 0 auto;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;

    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    background-color: $accent-color;
    color: $primary-white-color;

    transition: background-color 250ms $timing-function,
        box-shadow 250ms $timing-function;


&:hover,
&:focus {
    background-color: $accent-color;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);

}
}