
    $header-border-color: #ececec;
    $primary-text-color: #757575;
    $title-text-color: #212121;
    $accent-color: #2196f3;
    $secondary-accent-color: #188CE8;
    $primary-bg-color: #ffffff;
    $primary-white-color: #ffffff;
    $accent-logo-color: #2196f3;
    $accent-bg-color: #2f303a;
    $button-color: #f5f4fa;
    $team-bg-color: #f5f4fa;
    $features-icon-color: #f5f4fa;
    $card-gap: 30px;
    $project-card-border: #eeeeee;
    $primary-icon-color: #AFB1B8;
    $header-border: 1px;
    $timing-function: cubic-bezier(0.4, 0, 0.2, 1);
